<!-- Launch just the timothyw test node -->
<launch >
	<!-- Default WallFollow
	-->
    <node pkg="comp3431_starter" type="comp3431_starter_wallfollow" name="comp3431_starter_wallfollow" output="screen">
    </node>

	<!-- This is set the robot's initial pose.
		 rosrun comp3431_start init_pose 
	-->
	<node pkg="comp3431_starter" type="init_pose" name="init_pose" output="screen">
    </node>

	<!-- Give topic for Path in Rviz. Used for tracing robots moves.
		 rosrun comp3431_start path_trace 
	-->
	<node pkg="comp3431_starter" type="path_trace" name="path_trace" output="screen">
    </node>

	<!-- AR Launch -->
	<!-- decompress compressed image on raspicam_node
		 rosrun image_transport republish compressed in:=/raspicam_node/image raw out:=/raspicam_node/image/custom_raw
	-->

<!-- Used for turtlebot
	<node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/raspicam_node/image raw raw out:=/raspicam_node/image/custom_raw" />
-->	

	<arg name="marker_size" default="20.0" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	
	<arg name="cam_image_topic" default="/camera/rgb/image_raw" />
	<arg name="cam_info_topic" default="/camera/rgb/camera_info" />
	<arg name="output_frame" default="camera_rgb_optical_frame" />

<!-- Used for turtlebot
	<arg name="cam_image_topic" default="/raspicam_node/image/custom_raw" />
	<arg name="cam_info_topic" default="/raspicam_node/camera_info" />
	<arg name="output_frame" default="camera" />
-->

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

	<!-- Output Pose of AR when Found -->
	<node pkg="comp3431_starter" type="ar_tags" name="ar_tags" output="screen">
	</node>

	<!-- Node that will add markers (visualization markers) in Rviz when ar_tag is found.
		 Requires: 
			- AR Node launched
		rosrun comp3431_start basic_shapes
	-->
	<node pkg="comp3431_starter" type="ar_visualization" name="ar_visualization" output="screen">
	</node>

</launch>